.minicartIconContainer .cartIcon {
  width: 5px;
  height: 4.6px;
  overflow: visible;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  margin-right: 30px;
  padding-bottom: 11px;
}

@media screen and (max-width: 1000px) {
  .openIconContainer {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  .minicartIconContainer .cartIcon {
    width: 0.2rem;
  }


}
