.container--sticky-header {
  background-color: var(--header);
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
}

.wrapper {
  height: 82px;
}


.wrapper--sticky-header{
  max-height: 82px;
}
